---
---

$pageWidth: 1075px;
$textWidth: 760px;
$textGrey: #919191;
$darkRed: #960402;
$cadetBlue: #5F9BBC;

$laptopBreak: 1100px;
$ipadBreak: 768px;
$phoneBreak: 600px;

@import 'mixins';

@import 'page';
@import 'header';
@import 'title';
@import 'contact';
@import 'section-links';
@import 'content';
@import 'text';
@import 'sidebar';
@import 'footer';
@import 'archive';
