.page {
  background-image: url('../assets/background-tree.png');
  background-position: bottom left;
  background-position-x: -20%;
  background-repeat: no-repeat;
  background-size: 40%;
  background-attachment: fixed;

  @media(max-width: 768px) {
    background: none;
  }
}

