.sidebar {
  float: left;
  box-sizing: border-box;
  width: ($pageWidth - $textWidth - 20px);
  margin-left: 15px;

  background-color: rgba(255, 255, 255, 0.88);

  border: 5px solid transparent;
  border-image: url('../assets/border-line.svg') 5 stretch;

  @media (max-width: 1100px) {
    clear: both;
    float: none;
    margin-left: 0;
    margin-bottom: 25px;
    width: 100%;
  }

  &__links_header {
    font-family: 'archetype', 'serif';
    color: $textGrey;
    font-size: 1em;
    text-align: center;
  }

  &__links_list {
    padding-left: 1.5em;
  }

  &__links_link {
    list-style-type: none;

    &:before {
      content: "";
      width: 1em;
      height: 1em;
      position: absolute;
      margin-left: -1.2em;

      background-image: url('../assets/star.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 65%;
    }

    margin-bottom: 1.25em;

    a {
      color: $cadetBlue;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  hr {
    width: 62.8%;
    display: block;
    height: 3px;

    background-image: url('../assets/rule-line.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
  }
}
