.text {
  float: left;
  width: $textWidth;
  padding: 1.25em;
  line-height: 1.78em;
  box-sizing: border-box;

  border: 10px solid transparent;
  border-image: url('../assets/border-line.svg') 22 stretch;
  background-color: rgba(255, 255, 255, 0.88);

  font-family: "adobe-garamond-pro", 'serif';
  font-size: 1.2em;

  @media (max-width: $laptopBreak) {
    width: 100%;
    margin-bottom: 50px;
  }

  article > p:first-of-type:first-letter {
    float: left;
    margin-right: 3px;

    font-size: 3.25em;
    font-family: 'archetype', 'serif';
    line-height: 1.1em;
  }

  article {
    hr {
      width: 62.8%;
      display: block;
      height: 3px;

      background-image: url('../assets/rule-line.svg');
      background-repeat: no-repeat;
      background-position: center;
      border: none;
    }
  }

  blockquote {
    border-left: 5px solid #CCCCCC;
    padding-left: 15px
  }

  figure {
    text-align: center;
    code {
      text-align: left;
    }
  }

  &__figure {
    margin: 1em;

    border: 10px solid transparent;
    border-image: url('../assets/border-line.svg') 22 stretch;

    img {
      text-align: center;
      max-width: 250px;
    }

    figcaption {
      text-align: center;
      max-width: 250px;
      font-style: italic;

      @media(max-width: $phoneBreak) {
        max-width: $textWidth
      }
    }

    code {
      max-width: $textWidth;
      text-align: left;
      overflow: hidden;
    }
  }

  .left {
    float: left;
    margin-left: 0em;

    @media(max-width: $phoneBreak) {
      @include centerElement;
      float: none;
      width: 400px;
      text-align: center;
      margin-left: inherit;
    }
  }

  .right {
    float: right;
    margin-right: 0em;

    @media(max-width: $phoneBreak) {
      @include centerElement;
      float: none;
      width: 400px;
      text-align: center;
      margin-right: inherit;
    }
  }

  &__title {
    color: $darkRed;
    font-family: 'carta-marina', 'sans-serif';
    font-size: 2.3em;
  }

  &__date {
    display: inline-block;
    margin-top: 0.5em;

    color: darken($textGrey, 20%);
    font-size: .6em;
    font-weight: 100;
    font-family: 'adobe-garamond-pro', 'serif';
    font-style: italic;
  }

  &__post_divider {
    height: 10px;

    background-image: url('../assets/rule-line.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    border: none;
  }
}
